<mat-card>
  <mat-card-title>
    Editar Imóvel
  </mat-card-title>
  <mat-card-content>
    <div class="div-row">
      <div class="div-col">

    <form [formGroup]="imov" (ngSubmit)="submit()">
    <p>
      <mat-form-field>
        <input matInput placeholder="Nome de Exibição" formControlName="exibicao">
        <mat-icon matSuffix>edit</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Logradouro" formControlName="logradouro">
        <mat-icon matSuffix>signpost</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Descrição" formControlName="descricao">
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Area em m²" formControlName="area" pattern="[+-]?([0-9]*[.])?[0-9]+">
        <mat-icon matSuffix>map</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput placeholder="Valor de compra" formControlName="valor_compra" pattern="[+-]?([0-9]*[.])?[0-9]+">
        <mat-icon matSuffix>payments</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput placeholder="Valor de venda" formControlName="valor_venda" pattern="[+-]?([0-9]*[.])?[0-9]+">
        <mat-icon matSuffix>paid</mat-icon>
        <mat-hint>
          Caso esteja em estoque deixe este campo vazio
        </mat-hint>
      </mat-form-field>
    </p>
      <div class="div-row">
        <button type="button" mat-raised-button (click)="fileInput.click()" [disabled]="enviando">Adicionar anexo</button>
        <input hidden (change)="onFileSelected($event)" accept="image/*" #fileInput type="file" id="file">

        <div class="button-end">
          <button mat-raised-button color="primary" type="submit" [disabled]="!imov.valid || enviando">Salvar Dados</button>
        </div>

      </div>
    </form>


    <p *ngFor="let a of images; trackBy:atualizar">
      {{a.name}}
      <button mat-icon-button color="warn" (click)="remover(a)">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </p>
    </div>
      <div *ngIf="imagesInicio.length>0"class="div-col-b">
          <p *ngFor="let b of imagesInicio; trackBy: anAt">
            <span class="button-end">

            <button mat-icon-button color="warn" (click)="deletarAviso(b)">
              <mat-icon>
                delete
              </mat-icon>
            </button>
            </span>
            <img class="format"src="{{b.imagem}}">
          </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
