<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <h4>Imoveis S/A</h4>
  <span class="spacer"></span>
  <mat-icon>person</mat-icon>
  <h5 >{{user?.username}}</h5>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #sidenav mode="over">
    <button class="buttonD" mat-button [routerLink]="['../','dashboard']">
      Dashboard
    </button>
    <button class="buttonD" mat-button [routerLink]="['../','editar-usuario']">
      Editar Usuário
    </button>
    <button class="buttonD" mat-button [routerLink]="['../','imoveis']">
      Imóveis
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
