:host{
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
}

.spacer{
  flex: 1 1 auto;
}

.buttonD{
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

mat-toolbar{
  flex:0 0 auto;
}

mat-drawer-container{
  height:auto;
  flex:1 1 auto;
  display: flex;
}

mat-drawer-content{
  height:auto;
  flex:1 1 0;
  display: flex;
  flex-flow: column;
}

mat-drawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
